<!DOCTYPE html>
<html lang="en">
<head>
    <%-include("./partials/head.ejs")%>
</head>
<body>
    <%-include("./partials/nav.ejs")%>

    <div class="all-blogs">
        <h2><%=blogs.title %></h2>
        <p><%=blogs.snippet %></p>
        <p><%=blogs.body %></p>
    </div>
</body>
</html>