<!DOCTYPE html>
<html lang="en">
<head>
    <%-include("./partials/head.ejs")%>
</head>
<body>
    <%-include("./partials/nav.ejs")%>

    <div class="all-blogs">
        <h1>All my blogs:</h1>
        <% if (blogs.length > 0) { %>
            <% blogs.map((item) => { %>
                <h2><%=item.title %></h2>
                <p><%=item.snippet %></p>
                <a href="/blogs/<%=item._id%>">Read more...</a>
           <% }) %>
       <% } else { %>
        <p>No blogs to display...</p>
       <% } %>

    </div>
</body>
</html>